<div class="container">
  <h2><%= @lesson.title %></h2>

  <div>
    <h4>Content</h4>
    <p><%= @lesson.content %></p>
  </div>

  <% if @lesson.lesson_doc.file %>
    <div>
      <h4>Lesson Doc</h4>
      <embed src="<%= @lesson.lesson_doc.url %>" width="100%" height="500px" />
    </div>
  <% end %>
</div>
